* {
  margin: 0;
  padding: 0;
}

.phone {
  position: relative;
  height: 650px;
  float: right;
  margin: 10px;
}

.image-phone {
  position: absolute;
    width: 260px;
    top: 35px;
    left: 10rem;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.right-column {
  background: #fff;
  border: 1px solid #e6e6e6;
  width: 350px;
  margin: 10px;
  padding: 40px;
}
.name-logo {
  color: #999;
}

.hotpost-logo {
  margin: 15px auto;
  width: 280px;
  height: 100px;
}

.info {
  font-weight: 600px;
  line-height: 20px;
  font-size: 17px;
  color: #999;
}

.logo-facebook {
  margin-right: 5px;
}

button img {
  height: 18px !important;
  padding: 0 8px 2px;
}

.or {
  font-size: 13px !important;
  color: #999;
  font-weight: 600;
}
.or::befor {
  content: "";
  background: #efefef;
  display: block;
  height: 2px;
  width: 110px;
  position: relative;
  bottom: 10px;
  left: 160px;
}
.form-group {
  margin-bottom: 6px !important;
}
.form-control {
  background: #fafafa !important;
  border: 1px solid #efefef !important;
  font-size: 12px !important;
}
::placeholder {
  color: #999;
}
.btn {
  width: 200px;
  margin: 12px auto;
  padding: 2px !important;
  font-weight: 600;
}
.btn-primary {
  background-color: #3897f0 !important;
  border: 1px solid #3897f0 !important;
}
.terms {
  line-height: 18px;
  font-size: 14px;
  color: #999;
  margin: 5px 20px;
}

.right-column-login {
  background: #fff;
  border: 1px solid #e6e6e6;
  width: 350px;
  margin: 10px;
  padding: 20px;
}

.right-column-login a:hover {
  text-decoration: none;
}
